<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" ><
<suite name="Vuhp Test">
	<test name="BMI Login Page">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="http://www.calculator.net/bmi-calculator.html" />
		<classes>
			<class name="modules.BMITest" />
		</classes>
	</test>
</suite>